@import 'fonts.scss';
@import 'reset.scss';

body{
    background: rgb(0, 195, 255);
    text-align: center;
    .header{
        &__info{
            margin: 2%;
        };
        font-family: "Audiowide";
        font-size: 4rem;
    }
    .main{
        font-family: "Merienda One";
        font-size: 2rem;
        .quiz{
            background: rgb(130, 30, 143);
            width: 70%;
            margin: 0 auto;
            padding: 5%;
            &__question{
                color: ivory;
                margin: 5%;
            };
            &__choice{
                button{
                    margin: 3% auto;
                    font-family: 'Philosopher';
                    font-size: 1.125rem;
                    width: 200px;
                    height: 50px;
                    background: whitesmoke;
                    border: rgb(0, 26, 255) 1px solid;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.85;
                        color: blue;
                        box-shadow: 1px 1px 15px rgb(121, 48, 255);
                    }
                }
            };
            &__answer{
                &-correct{
                    margin: 2%;
                    color: rgb(0, 255, 0)
                };
                &-false{
                    margin: 2%;
                    color: rgb(255, 0, 0);
                }
            };
        }
    }
    .footer{
        font-family: "Arizonia";
        font-size: 1.5rem;
        position: fixed;
        text-align: center;
        width: 100%;
        bottom: 0;
        &__info{
            margin: 1%;
        }
    }
};


